<%- include ("./layouts/header.ejs") %>
    <main class="home">
        <section class="flex">
            <div>
                <p>SHOP ALL YOUR PRODUCTS</p>
                <p class="big">At the Best Prices</p>
                <p>Enjoy up to 30% discount when you buy up to <u>5 products</u> as a Geegstacker!</p>

                <a href="#" class="explore-btn">Explore >></a>
            </div>
            <img src="images/man.png" alt="">
        </section>
    </main>
</body>
</html>